*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --theme-color1: #06a7be;
    --main-white: #dfeff1;
    --main-black: #222424;
    font-family: Arial;
}

#main-header{
    padding: 20px 0;
    background: #222424;
}
.masthead{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 12px;
    color:#dfeff1;
    font-size: calc(24px + 3vw);
    text-shadow: .5px .5px .5px #dfeff1;
    /* animation-name: masthead;
    animation-duration: 2000ms;
    animation-timing-function: ease-in;
    animation-direction: alternate; */
    /* animation-iteration-count: infinite; */
}

@keyframes masthead {
   from {top: -100px; transform:scale(.1); opacity: 0;}
   to {top: 0px; transform: scale(1); opacity: 1;}
}

.masthead::after{
    content:"From Black Box To Open Link";
    font-family: Cambria;
    display: block;
    font-size: calc(1vw + 8px);
    text-transform: lowercase;
    color: var(--main-white);
    line-height: 3em;
    font-style: italic;
    letter-spacing: 3px;
    text-shadow: none;
}
.wrapper{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
#bio, #projects, #blogs, #contact{
    border: 2px solid var(--main-black);
    margin: 20px auto;
}
.section-title{
    text-align: center;
    letter-spacing: 4px;
    padding: 20px 0;
}
#main-nav{
    display: flex;
    justify-content: center;
}
#main-nav > .link{
    list-style: none;
    padding: 8px 16px;
    cursor: pointer;
    text-transform: uppercase;
}
.active {
    background: var(--main-black);
    color: var(--main-white);
}