*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    --theme1: darkgreen;;
    --theme2: #cc0000;
}
.wrapper{
    background-image: url('/images/chitwan_mountain_valley_nepal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    width: 95%;
    max-width: 1200px;
    margin: auto;
    object-fit: cover;
    padding-bottom: 20px;
}
.main-nav{
    background: white;
    z-index: 99;
    text-align: center;
    padding: 5px 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin:auto;
}
.link{
    text-decoration: none;
    color: var(--theme1, darkorange);
    margin:auto;
    padding: 3px 24px;
    border-right: 1px solid var(--theme1, darkred);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    border-top: 3px solid transparent;
}
.link:hover, .section-link:hover, .active{
    border-top: 1px solid var(--theme1);
    background: white;
}
.main-header{
    padding: 10px 0;
}
.masthead{
    background: rgba(255, 255, 255, 0.1);
    width: 90%;
    max-width: 850px;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    font-size: 24px;
    color: var(--theme2);
    letter-spacing: 1px;
    word-spacing: 10px;
    text-transform: uppercase;
    /* font-family: Roboto; */
    cursor: pointer;
}
.masthead::after{
    content:"journey of an infinitely curious";
    display: block;
    font-size: 12px;
    text-transform: lowercase;
    color: black;
    font-style: italic;
    padding: 5px 0;
    margin: 10px auto;
    font-weight: 400;
}

.main-section{
    /* height: 450px; */
    width: 95%;
    margin: 10px auto 0 auto;
    /* background: white; */

}
.section-nav{
    text-align: center;
    padding: 4px 0;
    margin: auto;
}
.section-link{
    text-decoration: none;
    padding: 5px 8px;
    border-right: 1px solid var(--theme1);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color:black;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}
.section-title{
    text-align: center;
    padding: 10px 0;
    color: black;
    font-size: 20px;
}
.bio-section, .blogs-section, .projects-section{
    background: rgb(255, 255, 255, .3);
    width: 100%;
    min-height: 350px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    /* opacity: .8; */
    border-radius: 8px;
}
.sub-title{
    color: black;
}
.section-items-container{
    /* background: white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-row: auto;
}
.section-items{
    width: 100%;
    background: rgba(14, 11, 7, 0.8);
    color: white;
    height: 100%;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 3px gray;
    border-radius: 8px;
}
.section-item-title{
    color: white;
    background: var(--theme1);
    width: 100%;
    margin: auto;
    padding: 5px 10px;
}
.section-items p{
    padding: 8px 0;
    line-height: 1.4;
}
.section-items ul{
    padding: 20px;
}
.section-items ul li{
    padding: 8px;
}
.section-items img{
    display: block;
    width:100%;
    max-height: 250px;
    object-fit: cover;
    margin: auto;
}
@keyframes animateLanding{
    from {transform: scale(0)}
    to{transform:scale(1)}
}
.detail{
    background-image: url("/images/chitwan_mustard_yellow_himalayas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 95%;
    margin: 0 auto 20px auto;
    padding: 10%;
    height: 100vh;
    position: relative;
   
}
.detail div{
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translateX(-50%); */
    padding: 20px 0;
    max-width: 850px;
    width: 100%;
    margin: auto;
    color: rgba(250, 246, 246, 0.2);
    /* background: rgba(255, 255, 255, 0.2); */
    /* opacity: .5; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.detail div .landinghead{
    margin: auto;
    color:var(--theme2);
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 16px;
    width: max-content;
    padding: 40px;
    display: flex;
    align-items: left;
    position: absolute;
    top: 0;
    left: 60px;
}
#start-button{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    /* transform: translate(-50%, -50%); */
    width: 200px;
    height: 100px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 40px;
    transition: 500ms ease-in-out;
    
}
#start-button:hover{
    font-size: 50px;
    background: rgba(255, 0, 0, 0.4);
    
}
.message{
    position: absolute;
    top: 10%;
    left: 0;
    transform: translateX(-50%);
    transform: rotate(90deg);
    transform-origin: 30px;
    color: white;
    width: max-content;
    line-height: 1.8;
    background: rgb(255, 255, 8, .1);
    padding: 10px;
}
.detail .landing-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background: rgba(255, 255, 255, .3);
    border-radius: 50%;
}
footer{
    padding: 10px 0;
    text-align: center;
}
@media only screen and (max-width:750px){
    .section-items-container{
        /* background: white; */
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-row: auto;
    }
}
@media only screen and (min-width: 650px){
    .section-items-container{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        align-items: stretch;
    }
}
